.Footer {
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  background: linear-gradient(90deg, #4470ad 0%, #99afd7 100%);
  position: fixed;
}

.FooterContent {
  color: #fff;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
}
